<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "blog/partials/_head.html" %}
    <!-- é uma forma de não ter que carregar imports onde não precisa -->
    {% block additional_head %}{% endblock additional_head %}
</head>
<body>
    <div class="blog-wrapper">
        <!-- header -->
        {% if site_setup.show_header %}
            {% include "blog/partials/_header.html" %}
        {% endif %}
        
        <!-- conteúdo -->
        {% block content %}{% endblock content %}
        
        <!-- pagination -->
        {% if site_setup.show_pagination %}
            {% include "blog/partials/_pagination.html" %}
        {% endif %}
        
        <!-- footer -->
        {% if site_setup.show_footer %}
            {% include "blog/partials/_footer.html" %} 
        {% endif %}
        
    </div> 
</body>
</html>